@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');

// Fonts
$bungee: 'Bungee', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;

// Colours
$light-blue: rgba(124, 173, 247, 0.75);
$dark-blue: #4056A1;
$red: red;
$white: #FFF;