header {
  background-image: url('../images/profile-background.png');
}

.header-flex-container {
  height: calc(400px + 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-avatar {
  padding-top: 120px;
}

.header-username h2 {
  font-weight: 300;
  color: #FFF;
  text-shadow: 0.5px 0.5px 0.5px rgb(85, 82, 74);
}
